:root{
    --color-black: #006d77;
    --color-aero: #83c5be;
    --color-thistle: #e2b3a3;
    --color-white: #fff;
}

.bienvenido {
  background-color: gray !important;
}
/* Header */
.mainSection{
  background-color: var(--color-thistle)  !important;
}
#div_nav_header{
    width: 100%;
    height: auto;
    z-index: 2000;
  }
  
  header{
    background-color: var(--color-aero);
  }
  header #nav_bar{
    background-color: none !important;
  }
  header #nav_bar a{
    color: var(--color-white);
    font-weight: bold;
    font-size: 18px;
  }
  #div_nav_header #only_flan_logo{
    height: 50px;
  }
  #div_nav_header #p_viajes_chile{
    font-weight: bold;
    font-size: 35px;
    color: var(--color-white);
  }
  .bienvenido{
    background-color: #83c5be;
  }
  #div_nav_header a{
    scroll-behavior: smooth;
  }
/* Carousel */
#carouselExampleFade img{
  height:500px;
  width: auto;
}

#contact{
  background-color: var(--color-black);
}

#contact_form,label, h2, hr{
    color: var(--color-white);
  }
  
  #contact_form #btn_send{
    background-color: var(--color-aero);
    color: var(--color-white);
    width: 100px;
  }
    /* FORM */
  
.form-control{
  color: black;
}

.form-horizontal p label{
  color: black !important;
}


/* START FOOTER */
footer{
    background-color: var(--color-aero);
    color: var(--color-white);
    margin-bottom: 0;

}
footer a:visited{
    color: inherit;

}
footer i{
    padding-left: 10px;
    font-size: 30px;
}
/* END FOOTER  */