<footer>
    <div class="container">
        <div class="row text-center ">
            <div class="col-sm-12 col-md-6">
                <h3 class="py-3">ONLY FLANS</h3>
            </div>
            <div class="col-sm-12 col-md-6 py-3">
                <a href="https://www.github.com" target="_blank"><i class="fa-brands fa-github"></i></a>
                <a href="https://cl.linkedin.com/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
                <a href="https://www.facebook.com" target="_blank"><i class="fa-brands fa-facebook"></i></a>
                <a href="https://x.com" target="_blank"><i class="fa-brands fa-x-twitter"></i></a>

            </div>
        </div>
    </div>
</footer>