{# index.html #}
{% extends 'base.html' %}

{% block content %}
{%if user.is_authenticated%}
<section class ="d-flex justify-content-center align-items-center bienvenido" >
    <h2>Bienvenido {{user.get_username}}!</h2>
</section>
{% endif %}
<section id="highlight" class=" d-flex justify-content-center align-items-center mainSection">
    <div class="w-75 align-items-center container pb-5">
        <h2 class="container mt-2 text-center">Nuestros Deliciosos Productos</h2>
        <hr>    
        <div class="row g-4">
            {% for flan in flanes%}
            <div class="col-xl-3 col-md-6 col-sm-12">
                <div class="card mt-3">
                    {% load static %}
                    <img class="card-img-top" src={{flan.img_url}}  alt="Card image cap">
                    <div class="card-body">
                        <h4>{{flan.name}}</h4>
                        <h5>{{flan.precio}}</h5>
                        <p class="card-text">{{flan.description}}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}